name: sample file
on:
  - push

jobs: 
  job1:
    strategy:
      matrix: 
        os: [windows-latest, ubuntu-latest]
    
    runs-on: ${{ matrix.os }}
    steps:
      - name: display
        run: |
          echo "runner name: ${{matrix.os}}"


      
